@use "src/vars";

.resume-container {
	display: flex;
	height: 95.5vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
}

.resume-card {
	display: flex;
	height: 450px;
	width: 100%;
	box-shadow: 0 0px 20px -2px vars.$background-dark;
	background-color: white;
	/* margin: 80px 0; */
}

.resume-bullets {
	box-shadow: 15px 0 9px -15px vars.$background-dark;
	height: 100%;
	width: 320px;
}

.resume-bullet-details {
	flex-grow: 1;
	width: 600px;
	overflow: hidden;
	padding: 0 0 0 80px;
}

.experience-description {
	margin: 10px 0 0 0;
	text-align: justify;
}

.resume-description-text {
	font-size: 12px;
}

.resume-details-carousal {
	transition: transform 1s ease-out;
}

.bullet-container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	position: relative;
}

.bullets {
	width: 86%;
	position: relative;
	z-index: 2;
}

.bullet {
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: vars.$background-light;
	height: 40px;
	margin: 15px 0;
	padding: 0 8px;
	border-radius: 20px;
	width: 30px;
	transition: width 0.6s ease;
}

.bullet-label {
	font-size: 14px;
	white-space: nowrap;
	font-family: "Poppins SemiBold";
}

.bullet-logo {
	height: 16px;
	margin: 0 30px 0 0;
}

.bullet-icons {
	width: 34px;
	height: 100%;
	z-index: 1;
	background-color: vars.$background-light;
	position: absolute;
}

.selected-bullet {
	color: vars.$title-color;
	width: 100%;
}

.resume-screen-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 450px;
	width: 100%;
}

.resume-heading {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.resume-main-heading {
	position: relative;
	margin-right: 0.2rem;
	display: flex;
	justify-content: space-between;
}

.resume-main-heading span {
	color: vars.$background-light;
	font-size: 16px;
	font-family: "Poppins SemiBold";
}

.experience-description {
	max-width: 100%;
}

.experience-container {
	padding-right: 0.5rem;
}

.heading-bullet {
	position: absolute;
	left: -30px;
	height: 15px;
	width: 15px;
	top: 1px;
	border-radius: 50%;
	background-color: vars.$background-light;
}

.resume-sub-heading {
	font-size: 14px;
	font-family: "Poppins SemiBold";
	color: vars.$black;
	margin: 10px 0 0 0;
}

.resume-heading-description {
	font-size: 12px;
	text-align: justify;
}

.heading-date {
	background-color: vars.$title-color;
	padding: 4px 12px;
	font-size: 14px;
	border-radius: 14px;
	color: vars.$white;
}

.skill-parent {
	display: flex;
	position: relative;
	width: 50%;
	gap: 1rem;
}
.skill-logo {
	height: 35px;
	margin: 0 30px 0 0;
	transform: translateY(-10px);
}

.programming-skills-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skill-percentage {
	position: relative;
	height: 15px;
	width: 70%;
	background-color: #ff5823;
}

.skill-percentage .active-percentage-bar {
	height: 15px;
	transition: 0.8s ease;
	position: absolute;
	background-color: #1f2235;
}

.skill-parent span {
	font-family: "Poppins Bold";
	font-size: 16px;
	color: #ff5823;
}

@media only screen and (max-width: 1110px) {
	.resume-card {
		width: 90%;
	}

	.resume-bullet-details {
		padding: 0 0 0 70px;
	}
}

@media only screen and (max-width: 1023px) {
	.resume-container {
		height: fit-content;
		margin-top: 5rem;
	}

	.resume-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bullets {
		width: 90%;
	}

	.resume-card {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
	}

	.resume-bullet-details {
		height: 450px;
		padding: 0;
		width: fit-content;
	}

	.resume-bullets {
		width: 100%;
		height: 40%;
		box-shadow: none;
	}

	.selected-bullet {
		width: 100%;
	}
	.heading-bullet {
		display: none;
	}
}
