@use "src/vars";

.slider-container {
	// min-height: 100vh;
	// position: relative;
	// scroll-snap-align: start;

	display: flex;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;

	// .arrow {
	// 	height: 75px;
	// 	width: 75px;
	// 	position: absolute;
	// 	cursor: pointer;
	// 	color: orange;

	// 	&.left {
	// 		top: 50%;
	// 		transform: translateX(-450px);
	// 	}

	// 	&.right {
	// 		top: 50%;
	// 		transform: translateX(450px);
	// 	}
	// }

	.slider-parent {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .video iframe {
	// 	left: 0;
	// 	top: 0;
	// 	height: 100%;
	// 	width: 100%;
	// 	position: absolute;
	// }

	.slider {
		height: 500px;
		width: 800px;
		display: flex;
		align-items: center;
		justify-content: center;
		// gap: 2500px;
		// transition: all 1s ease-out;
		// gap + container width

		.container {
			// width: 650px;
			display: flex;
			align-items: center;
			height: 450px;
			// transform: translateX(3150px);

			.item {
				width: 100%;
				height: 99%;
				background-color: white;
				border-radius: 20px;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				border: 1px solid grey;
				overflow: hidden;

				.browser {
					height: 20px;
					background-color: rgb(243, 242, 242);
					display: flex;
					align-items: center;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					z-index: 2;
					&-circle {
						width: 6px;
						height: 6px;
						border-radius: 50%;
						margin: 3px;
						background-color: white;
						&:nth-child(1) {
							background-color: red;
						}
						&:nth-child(2) {
							background-color: goldenrod;
						}
						&:nth-child(3) {
							background-color: green;
						}
					}
				}

				.left {
					flex: 4;
					height: 80%;
					display: flex;
					align-items: center;
					justify-content: center;

					.leftContainer {
						width: 90%;
						height: 70%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						.imgContainer {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							background-color: vars.$background-light;
							display: flex;
							align-items: center;
							justify-content: center;

							// @include mobile {
							// 	width: 20px;
							// 	height: 20px;
							// }

							img {
								width: 25px;

								// @include mobile {
								// 	width: 15px;
								// }
							}
						}
						h2 {
							font-size: 20px;

							// @include mobile {
							// 	font-size: 13px;
							// }
						}
						p {
							font-size: 13px;
							// @include mobile {
							// 	display: none;
							// }
						}
						span {
							font-size: 12px;
							font-weight: 600;
							text-decoration: underline;
							cursor: pointer;
						}
					}
				}
				.right {
					flex: 8;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;

					img {
						width: 400px;
						transform: translateY(5%) rotate(-10deg);
						transition: all 10s ease;
						&:hover {
							transform: translateY(-5%) scale(1.3) rotate(-10deg);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	// .arrow {
	// 	display: none;
	// }

	.slider-container {
		height: fit-content;
		margin-top: 5rem;
	}

	.slider-container .slider {
		flex-direction: column;
		gap: 5px;
	}

	.slider-container .slider .container {
		width: 100%;
	}
	.slider-container .slider .container .item .right img {
		width: 100%;
	}
}
