@use "src/vars";

.footer-container {
	// height: 17.8%;
	// width: 100%;
	// overflow: hidden;
	// display: flex;
	// justify-content: center;
}
.footer-parent {
	// width: 100%;
	// height: 25%;
	// max-width: 1920px;
}
// .footer-parent img {
// 	display: block;
// 	width: 300vh;
// 	height: 200px;
// 	background-color: vars.$background-color;
// }

.footer-parent svg {
	// height: 300px;
	// width: 100vh;
	background-color: vars.$background-color;
}

/*IPAD PRO RESPONSIVENESS*/
// @media only screen and (max-width: 1110px) {
// 	.footer-parent {
// 		display: flex;
// 		align-items: flex-end;
// 	}
// }

@media only screen and (max-width: 810px) {
	.footer-container {
		height: 100%;
		width: 100%;
		margin-top: 10rem;
	}
}
