@use "src/vars";

.home-container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 120px);
	position: relative;
	scroll-snap-align: start;
	// justify-content: space-between;
	// min-height: 670px;
}
